@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
}

#main {
  position: absolute;
  height: 91vh;
  background-position: bottom;
  width: 100%;
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0.6), black),
    url('/img/images2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  animation-fill-mode: forwards;
}
